@charset "UTF-8";
/**
 * 
 * @authors Ling
 * @date    2015-06-01 16:11:31
 * @version $Id$
 */
 #project_title span{
 	margin-left:300px;
 	float:right;
 }
 #project_title span a{
 	width:40px;
 	overflow: hidden;
 	display: block;
 	float:right;
 }
 #project_title .f1{
 	margin-left:-85px;
 }
 #project_title .f2{
	margin-left:-45px;
 }
 #project_title .f3{
 	margin-left:-5px;
 }

 .hamster{
 	float:left;
 	margin-top:60px;
 }
 .left{
 	width:300px;
 	float:left;
 }
 .massages{
 	width:300px;
 	float:left;
 	margin-top:20px;
 }
 .massages img{
 	margin:0;
 	padding:0;
 	float:left;
 }
 .massages .m_img2{
 	margin-top: -58px;
 }
 .massages .m_img3{
 	margin-top: -110px;
 }

 .massages span{
 	width:300px;
 	height:60px;
 	line-height: 60px;
 	overflow: hidden;
 	display:block;
 	float:left;
 }
 .massages p{
 	height:60px;
 	line-height:60px;
 	margin:0;padding:0;
 	float:left;
 	font-size: 20px;
 	font-family: 'microsoft yahei',initial;
 }
/*content*/
 .content h3{
	font-family: 'microsoft yahei',initial;
	vertical-align: middle;
 }
 .content a{
 	text-decoration: none;
 }
 .content h3 span{
 	display:block;
 	float:left;
	width:30px;
	height:35px;
	overflow:hidden;
	margin-top:-5px;
 }
 .content h3 img{
 	
 }
  .content p{
  	color:#666;
  	font-family: 'microsoft yahei',initial;
  	text-indent: 2em;
 }
 #time{
 	text-align: right;
 }
 .type{
 	font-size: 8px;
 }
 red{
 	color:red;
 }